@use '../abstracts/variables';
header {


    overflow: hidden;
    backdrop-filter: blur(10px);
    padding: auto;
//    background-color: variables.$cleanup-light;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    // padding-bottom:2rem;
    z-index: 10;

}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    header  {
    //   background-color: rgba(255, 255, 255, 0.323);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }
  }