{% extends 'base.html.twig' %}

{% block title %}Politique des cookies
			{% endblock %}

{% block body %}
<p><strong>Politique des cookies / confidentialité </strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, provident asperiores porro minus voluptate nam corrupti aspernatur saepe? Est enim explicabo fuga nemo fugiat ab maxime officiis qui! Illum placeat magnam aliquid blanditiis dolores non cumque reprehenderit unde, nesciunt culpa recusandae consequatur tempore eos nulla beatae debitis tempora quos accusamus deleniti, modi ut veritatis dolor. Consectetur porro doloremque omnis unde nam reiciendis atque adipisci maiores, explicabo eos impedit libero voluptatibus laudantium quibusdam aspernatur beatae mollitia praesentium ducimus cupiditate ipsum nulla aliquid vitae debitis! Id quod voluptatum magni nesciunt eum? Ab blanditiis nostrum consectetur est voluptatum vero obcaecati laboriosam perferendis asperiores? Reprehenderit inventore suscipit molestiae odit similique eveniet nesciunt, nulla accusantium ipsum odio facilis nobis labore officia eum nisi tempore minima itaque. Quae odit dolor necessitatibus, labore minus aliquam consequuntur dolorum deleniti? Doloribus accusamus deleniti, corporis sit illo, aliquam natus totam culpa dicta neque cumque nam. Blanditiis quia fugiat ea aliquam?</P>
{% endblock %}