<p>Cleanup © Tous droits réservés - 2023</p>
<div>
<a href="{{path('app_legal_notice')}}">Mentions légale</a>
<span> | </span>
<a href="{{path('app_cookies_policy')}}">Politique des cookies</a>
</div>

