@use "../abstracts/variables";
@use "../abstracts/mixins";
@use "../abstracts/functions";
.dashed-line {
  border-bottom: 1px dashed #00182c;
  width: 100%;
}
.d-flex-j-end {
  display: flex;
  justify-self: end;
}
.d-flex-j-center {
  margin-left: auto;
  display: flex;
  justify-self: center;
}

.d-flex-j-sp-btw {
  display: flex;
  justify-content: space-between;


}
.help-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: variables.$cleanup-cloudy;
 
}

.cleanup-error {
  background-color: variables.$cleanup-danger;
  color: variables.$cleanup-light;
}
.cleanup-error::before {
  content: "\26D4";
}
.alert-success {
  background-color: variables.$cleanup-valid;
  color: variables.$cleanup-light;
}
.alert-notice {
  background-color: variables.$cleanup-warning;
  color: variables.$cleanup-light;
}
.alert-danger {
  background-color: variables.$cleanup-danger;
  color: variables.$cleanup-light;
}
.cleanup-border {
  margin: 1rem;
  padding: 0.5rem;
  border: variables.$cleanup-base-border-thickness solid
    variables.$cleanup-primary;
  border-radius: variables.$cleanup-base-border-radius;
  box-shadow: 3px 3px 10px 0px #222d5149;
}

.volumes {
  list-style: none;
  text-align: end;
}
.cleanup-pad-1 {
  padding: 1rem;
}

.flex-dir {
  @include mixins.xs {
    flex-direction: column;
    margin: 0;
    margin-bottom: 0.5rem;
  }
}
.margin-lr-0 {
  margin-left: 0;
  margin-right: 0;
}

.info-for-users {
  font-size: variables.$cleanup-font-size-small * 1.2;
  margin-top: 1rem;
  overflow: hidden;

  padding: 1rem;
  border-top: 2px rgba(0, 78, 155, 0.4117647059) dotted;
}

.cleanup-shadow-blue {
    text-shadow: 2px 3px 3px #222d5149;
}
.cleanup-shadow-red {
     text-shadow: 2px 3px 3px #51222249;
   
  
}
.pad-0{
  padding:0rem;
}
.pad-1{
  padding:1rem;
}

.margin-l-auto {
  margin-left: auto;
}

.margin-l-0{
  margin-left: 0;
}
.margin-r-0{
  margin-right: 0;
}
.margin-r-auto {
  margin-right: auto;
}
.border-none {
  border:none;
}
.width-170 {
  max-width:170px;
}

.text-center {
  text-align: center;
}
.size-3 {
  font-size:5rem ;
}
.size-2 {
  font-size:3rem ;
}
.felx-wrapped {
  flex-wrap: wrap;
}
.min-width-50 {
  min-width: 50%;
}
.no-visible {
  visibility: hidden;
}
.margin-b-3 {
  margin-bottom: 3rem;
}
.margin-0 {
  margin-bottom: 0;
}
.asterisk-bottom-position {
  position: absolute;
  bottom: .5rem;
  left: 1rem;
}
.asterisk-bottom-position-relative {
  // position: absolute;
  bottom: .5rem;
  left: 1rem;
}
.btn-resizing {
 
  @include mixins.xs {
 
  max-width: 3rem;
  align-self: flex-end;
 
  }
 
 
}
label.required:after {
  content: " *";
  color: variables.$cleanup-danger;
}

.font-caroussel {
  font-family: 'Lobster';
}

.lighten-gray {
  color: variables.$cleanup-cloudy;
  @include mixins.xs {
    color: variables.$cleanup-cloudy-dark;
  }

}
.underline-for-link{
border-bottom: variables.$cleanup-danger 0.125em dotted;
margin-top: 0.5rem;
margin-bottom: 1rem;
&:hover{
  
  color: variables.$cleanup-sky;
  border-bottom: variables.$cleanup-sky 0.125em solid;
}
}

.legend {
 
  display : flex;
 flex-wrap: wrap;
  list-style:none;
  li{
    margin-right: 1rem;
    color:#a8a010;
  }
  span {
    font-weight: bold;
    color: #77720a;
  }
}
