{% extends 'base.html.twig' %}

{% block title %}Commande echouée
{% endblock %}

{% block body %}
<h2>votre commande est echouée </h2>
<a class="underline-for-link" href={{path('app_shopping_cart')}}>Retourner au panier</a>
{% endblock %}