{% extends 'base.html.twig' %}

{% block title %}Erreur
{% endblock %}

{% block body %}
<h2>Oops, une erreur s'est produite &#129303; </h2>
<p>Envie de nous faire un retour sur ce que s'est passé ? c'est par <a href={{path('app_contact')}}>ici</a></p>
{% endblock %}